extends layout

block content
  h1 Bryllupsfesten
  p Middagen begynner klokken 17.00 i Badstuen. Huset er åpent fra klokken 15.00 og det blir lett servering før brudeparet ankommer. 
  h2 Hvor?
  img(src="/images/badstuen.jpg")
  p Badstuen, som er idrettslaget Varegg sitt klubbhus, ligger ved Mulen i Sandviken. Adressen er Persenbakken 20. Fra sentrum kan en ta buss nummer 10, som har endeholdeplass rett utenfor lokalet. Det er mulig å parkere på gateplan i nærområdet.