extends layout

block content
  h1 Bryllupsfesten
  p Festen begynner klokken XX.XX i Badstuen. Huset er åpent fra klokken XX.XX og det blir lett servering før brudeparet ankommer. 
  h2 Hvor?
  p Badstuen, som er idrettslaget Varegg sitt klubbhus, ligger ved Mulen i Sandviken. Adressen er Persenbakken 20. Fra sentrum kan en ta buss nummer 10, som har endeholdeplass rett utenfor lokalet. Det er mulig å parkere på gateplan i nærområdet.
  img(src="/images/badstuen.jpg")