extends layout

block content
  h1 Synnøve og Øyvind gifter seg <br/>(om #{daysLeft} dager)
  img(src="/images/oss.png")
  ul
    li <a href="vielsen">Vielsen</a>
    li <a href="festen">Festen</a>
    li <a href="onsker">Gaveønsker</a>
    li <a href="kontakt">Kontakt</a>