extends layout

block content
  h1 Kontakt
  ul
    li Øyvind: 95064184
    li Synnøve: 41003068
    li Forlover Øyvind (Kent Aron Vabø): 93093233
    li Forlover Synnøve (Elisabeth Solstad Skoge): 47631985
    li Toastmaster (X Y): 00000000