extends layout

block content
  h1 Kontakt
  img(src="/images/telefon.jpg")
  ul
    li Øyvind: 95064184
    li Synnøve: 41003068
    li Forlover Øyvind <br/>(Kent Aron Vabø): 93093233
    li Forlover Synnøve <br/>(Elisabeth Solstad Skoge): 47631985
    li Toastmaster: Kommer...