extends layout

block content
  h1 Ønsker
  img(src="/images/gaver.jpg", height="333", width="500")
  ul
    li Tilskudd til oppussing
    li Ønskeliste <a href="http://www.tilbords.no/weddinglist/public/view/id/87ae790a7dcd6b3e91d79e9da271c9bd/">Tilbords</a>
    li Ønskeliste <a href="http://www.bryllupslisten.no/Guest/Index">Christiania Glasmagasin</a> (passord "badstuen")