extends layout

block content
  h1 Vielsen
  img(src="/images/tinghuset.jpg", height="283", width="500")
  p Vielsen blir på Tinghuset i Bergen klokken 14.00 den 17. august 2013. I vigselrommet er det dessverre begrenset med plasser, så da er det bare den nærmeste familien som kan være til stede.
