body { font-family: 'Euphoria Script', cursive; text-align: center; }
h1 { font-size: 5em; }
h2 { font-size: 4em; }
ul { padding: 0; list-style: none; }
ul li, p { font-size: 3em; }

#content {
    width: 600px;
    margin: 0 auto;
}